@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

body {
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
* {
  padding: 0;
  margin: 0;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  gap: 50px;
}

svg:hover{
    animation: girar 0.5s ease-out;
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
  .icons {
    gap: 20px;
  }
  svg {
    width: 48px;
    height: 48px;
  }
  img {
    width: 412px;
    height: 412px;
  }
}

@media screen and (min-height: 600px) and (max-height: 900px) {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
